.video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    
    iframe {
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
  }

.fade-in {
    animation: fadein 3s;
}

.proyectos-grid {
    max-width: 800px;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
}

.figure-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    
    img {
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }

    h2 {
        font-family: var(--font-regular);
        text-align: center;
        margin-top: 1rem;
        
        span {
            color: var(--grey-100);
        }
    }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
  }