@font-face {
    font-family: 'outfit';
    src: url(../assets/fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: 'outfit light';
    src: url(../assets/fonts/Outfit-Light.ttf);
}

:root {
    /* Fonts */
    --font-regular: 'outfit';
    --font-light: 'outfit light';

    /* Colors */
    --white: #fff;
    --grey:#f7f7f7;
    --grey-10: #e5e7eb;
    --grey-100: #b6bcc6;
    --dark: #030712;
    --dark-10:#374151;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul li { list-style: none; }
}

.container {
    padding: 0 2rem;
}

.btn {
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 50px;
    padding: .7rem 2rem;
    background-color: var(--white);
    transition-duration: .2s;
    transition-timing-function: ease;
    outline: none;
}

.btn-primary {
    background-color: var(--dark);
    color: var(--white);
}